:root {
    --button-width: 10%;
    --button-height: 10%;

    --blue: rgb(10, 132, 255);
    --pink: rgb(255, 55, 95);
    --red: rgb(255, 69, 58);

    --background1: #121212;
    --background2: #242424;
    --background3: #363636;
    --background4: #484848;
    --background5: #484848;

    --text-normal: #ffffff;
    --border: var(--background5);
    --highlight: var(--blue);
}

html,
body {
    padding: 0;
    margin: 0;

    background-color: var(--background1);
    color: var(--text-normal);
}

textarea {
    resize: none;

    width: calc(100% - 3em);
    margin: 1em 0 0 1em;

    background-color: var(--background2);
    color: var(--text-normal);

    border: 1px solid var(--border);
    outline: none;

    padding: 0.5em;
}

textarea:hover {
    border-color: var(--highlight);
}

textarea:focus {
    border-color: var(--pink);
}

#input {
    height: calc(35% - 2em);
}

#output {
    height: calc(20% - 2em);
}

#io {
    display: inline-block;
    width: calc(100% - var(--button-width));
    padding: 0;
    margin: 0;
}

button {
    background-color: var(--background2);
    color: var(--text-normal);

    word-wrap: break-word;
    /* -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; */
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid;
    border-color: var(--border);
    /* display: block; */
    top: calc((35% - 2em) - (var(--button-height) / 2) + 16px);
    width: var(--button-width);
    height: var(--button-height);
    right: 16px;

    outline: none;

    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-size: 0% 100%;
    background-image: linear-gradient(var(--highlight), var(--highlight));
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    animation-direction: alternate;
}

button:hover {
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in-out;
}

button:focus {
    border-color: var(--pink);
}

/*
* TODO: relative layout
*/
.notification {
    position: absolute;
    top: 0;
    left: 2em;
    padding: 1em;
    background-color: var(--red);
    border-radius: 0.5em;
    transition: all 500ms ease-in-out;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s ease-in-out both;
    animation: slide-bottom 0.5s ease-in-out both;
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.3s ease-in-out both;
    animation: slide-out-top 0.3s ease-in-out both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(3em);
        transform: translateY(3em);
        opacity: 1;
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(3em);
        transform: translateY(3em);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
        opacity: 0;
    }
}
