:root {
    --button-width: 10%;
    --button-height: 10%;

    --blue: rgb(10, 132, 255);
    --pink: rgb(255, 55, 95);
    --red: rgb(255, 69, 58);

    --background1: #121212;
    --background2: #242424;
    --background3: #363636;
    --background4: #484848;
    --background5: #484848;

    --text-normal: #ffffff;
    --border: var(--background5);
    --highlight: var(--blue);
    --focus: var(--pink)
}

* {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text-normal);
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background1);
}

textarea {
    background-color: var(--background2);
}

textarea:hover {
    border-color: var(--highlight);
}

textarea:focus {
    border-color: var(--focus);
}

button {
    background-color: var(--background2);

    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

textarea {
    resize: none;

    width: calc(100% - 3em);
    margin: 1em 0 0 1em;

    background-color: var(--background2);
    color: var(--text-normal);

    border: 1px solid var(--border);
    outline: none;

    padding: 0.5em;
}

textarea:hover {
    border-color: var(--highlight);
}

textarea:focus {
    border-color: var(--pink);
}

#input {
    height: calc(35% - 2em);
}

#output {
    height: calc(20% - 2em);
}

button {
    display: block;
    position: relative;
    border: 1px solid var(--border);
    outline: none;
    cursor: pointer;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

span {
    display: block;
    padding: 25px 80px;
}

.borderbutton::before,
.borderbutton::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--highlight);
}

.borderbutton:focus::before,
.borderbutton:focus::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--focus);
}

.borderbutton span::before,
.borderbutton span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--highlight);
}

.borderbutton:focus span::before,
.borderbutton:focus span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--focus);
}

.borderbutton:hover::before,
.borderbutton:hover::after {
    width: 100%;
}

.borderbutton:hover span::before,
.borderbutton:hover span::after {
    height: 100%;
    border: none;
}

.borderbutton:focus::before,
.borderbutton:focus::after {
    width: 100%;
}

.borderbutton:focus span::before,
.borderbutton:focus span::after {
    height: 100%;
    border: none;
}

.borderbutton::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.borderbutton span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.borderbutton::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.borderbutton span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.notification {
    position: absolute;
    top: 0;
    left: 2em;
    padding: 1em;
    background-color: var(--red);
    /* border-radius: 0.5em; */
    /* border: 1px solid;
    border-color: var(--pink);
    background-color: var(--background1); */
    transition: all 500ms ease-in-out;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s ease-in-out both;
    animation: slide-bottom 0.5s ease-in-out both;
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.3s ease-in-out both;
    animation: slide-out-top 0.3s ease-in-out both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(3em);
        transform: translateY(3em);
        opacity: 1;
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(3em);
        transform: translateY(3em);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-4em);
        transform: translateY(-4em);
        opacity: 0;
    }
}
